<h1>All Locations</h1>
<a href='/dive'>See All Dives</a>
<a href='/locations'>See All Locations</a>
<a href='/teams'>See All Teams</a>
<a href='/player'>See All Players</a>
<div id = "locations">
  <% @locations.each_with_index do |location, index| %>
    <div class="location">
      <p><%= location.title %></p>
      <p>Created at: <%= location.created_at %></p>
    </div>
  <% end %>
</div>
