<h1>All Locations</h1>
<a href="/locations/new">Create New Location</a>
<div id = "locations">
  <% @locations.each_with_index do |location, index| %>
    <div class="location">
      <h3><%= location.title %></h3>
      <p>Created at: <%= location.created_at %></p>
      <%= link_to "Edit #{location.title}", "locations/#{location.id}/edit" %>
      <%= link_to "Delete #{location.title}", "/locations/#{location.id}", method: :delete %>
    </div>
  <% end %>
</div>
