<h1>All Locations</h1>

<div id = "locations">
  <% @locations.each_with_index do |location, index| %>
    <div class="location">
      <p><%= location.title %></p>
      <p>Created at: <%= location.created_at %></p>
    </div>
  <% end %>
</div>
