<a href='/dive'>See All Dives</a>
<a href='/locations'>See All Locations</a>
<a href='/teams'>See All Teams</a>
<a href='/player'>See All Players</a>

<form action="/locations" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new location:</p>
  <input type='text' name='location[title]'/><br/>
  <textarea name='location[description]'></textarea><br/>
  <input type='submit'/>
</form>
